<!-- add_song.html -->

{% extends "base.html" %}

{% block title %}
    Add New Song
{% endblock %}

{% block content %}
    <h1>Add New Song</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="message {% if message == 'error' %}error{% elif message == 'success' %}success{% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('add_song') }}">
      <label for="title">Title:</label>
        <input type="text" name="title" required><br>
        <label for="artist">Artist:</label>
        <input type="text" name="artist" required><br>
        <label for="melody_rating">Melody (1-10):</label>
        <input type="number" name="melody_rating" min="1" max="10" required><br>
        <label for="instrumentation_rating">Instrumentation (1-10):</label>
        <input type="number" name="instrumentation_rating" min="1" max="10" required><br>
        <label for="storytelling_rating">Storytelling (1-10):</label>
        <input type="number" name="storytelling_rating" min="1" max="10" required><br>
        <label for="atmosphere_rating">Atmosphere (1-10):</label>
        <input type="number" name="atmosphere_rating" min="1" max="10" required><br>
        <label for="production_bonus_rating">Production Bonus (-0.5, 0, 0.5):</label>
        <select name="production_bonus_rating" id="production_bonus_rating" required>
            <option value="-0.5">-0.5</option>
            <option value="0">0</option>
            <option value="0.5">0.5</option>
        </select><br>
        <input type="submit" value="Add Song">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back to Song List</a>
{% endblock %}

