<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',
    filename='tablesorter-master/dist/css/theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tablesorter-master/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("table").tablesorter();
        });
    </script>
</body>
</html>

